<h2 class="text-center">Albuns</h2>

<div class="container">

  <% if(errosValidacao) { %>
  <div class="alert alert-danger">
    <ul>
      <% for(var i=0; i < errosValidacao.length; i++) {%>
      <li>
        <%= errosValidacao[i].msg %>
      </li>
      <%}%>
                </ul>
            </div> 
           <%}%>

      <form action="/albuns" method="post">

        <% if(album.id ) { %>
        <input type="hidden" id="id" name="id" value="<%=album.id%>">
        <% } %>

        <!-- Material input Album -->
        <div class="md-form form-sm">
          <i class="fas fa-compact-disc fa-lg"></i>
          <input type="text" id="nome" name="nome" class="form-control form-control-sm">
          <label for="formCadastro">Nome</label>
        </div>

        <!-- Material input Artista -->
        <div class="md-form form-sm">
          <i class="fas fa-user-alt"></i>
          <input type="text" id="artista" name="artista" class="form-control form-control-sm">
          <label for="artista">Artista</label>
        </div>

        <!-- Material input Descricao -->
        <div class="md-form form-sm">
          <i class="fas fa-edit"></i>
          <input type="text" id="descricao" name="descricao" class="form-control form-control-sm">
          <label for="descricao">Descricao</label>
        </div>

        <!-- Material input faixas -->
        <div class="md-form form-sm">
          <i class="fas fa-calendar-alt"></i>
          <input type="text" id="ano" name="ano" class="form-control form-control-sm">
          <label for="ano"> Ano</label>
        </div>


        <!-- Material input genero -->
        <div class="md-form form-sm">
          <i class="fas fa-headphones"></i>
          <input type="text" id="genero" name="genero" class="form-control form-control-sm">
          <label for="genero">Genero</label>
        </div>

        <!-- Material input genero -->
        <div class="md-form form-sm">
          <i class="fas fa-globe-americas"></i>
          <input type="text" id="nacionalidade" name="nacionalidade" class="form-control form-control-sm">
          <label for="nacionalidade">Nacionalidade</label>
        </div>

        <!-- Material input duracao -->
        <div class="md-form form-sm">
          <i class="far fa-clock"></i>
          <input type="text" id="duracao" name="duracao" class="form-control form-control-sm">
          <label for="duracao">Duracao</label>
        </div>


        <div class="text-center mt-4 mb-2">
          <button class="btn btn-primary" data-toggle="modal" data-target="#modalMusic">Adicionar Musicas
            <i class="fa fa-send ml-2"></i>
          </button>
        </div>

        <button class="btn btn-primary" type="submit">Salvar</button>

      </form>
  </div>
</div>
