<%- include ./cabecalho.ejs %>

<body class="container">

    <h2 class="text-center">Álbuns</h2>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Artistas</th>
                <th scope="col">Faixas</th>
                <th scope="col">Ano</th>
                <th scope="col">Gênero</th>
                <th scope="col">Duração</th>
            </tr>
        </thead>
        <tbody class="tbody-light">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Larry</td>
                <td>the Bird</td>
            </tr>
        </tbody>
    </table>

    <%- include ./rodape.ejs %>