<%- include ./partials/cabecalho.ejs %>
<%- include ./partials/navegacao.ejs %>

<div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header red white-text">
        <h4 class="title">
        <i class="fas fa-compact-disc"></i> Cadastro de Álbum </h4>
      </div>
      <!--Body-->
      <div class="modal-body">

        <!-- Material input Album -->
        <div class="md-form form-sm">
            <i class="fas fa-compact-disc fa-lg"></i>
          <input type="text" id="album" class="form-control form-control-sm">
          <label for="formCadastro">Album</label>
        </div>

        <!-- Material input Artista -->
        <div class="md-form form-sm">
          <i class="fas fa-user-alt"></i>
          <input type="text" id="artista" class="form-control form-control-sm">
          <label for="formCadastro">Artista</label>
        </div>

         <!-- Material input Descricao -->
         <div class="md-form form-sm">
            <i class="fas fa-edit"></i>
            <input type="text" id="desc" class="form-control form-control-sm">
            <label for="formCadastro">Descricao</label>
          </div>

     <!-- Material input faixas -->
     <div class="md-form form-sm">
        <i class="fas fa-music"></i>
        <input type="text" id="qtd_faixas" class="form-control form-control-sm">
        <label for="formCadastro">Quantidade de Faixas</label>
      </div>

      <!-- Material input faixas -->
     <div class="md-form form-sm">
        <i class="fas fa-calendar-alt"></i>
        <input type="text" id="qtd_faixas" class="form-control form-control-sm">
        <label for="formCadastro"> Ano</label>
      </div>
      
      
       <!-- Material input genero -->
       <div class="md-form form-sm" >
        <i class="fas fa-headphones"></i>
        <input type="text" id="genero" class="form-control form-control-sm">
        <label for="formCadastro">Genero</label>
      </div>

       <!-- Material input genero -->
       <div class="md-form form-sm" >
        <i class="fas fa-globe-americas"></i>
        <input type="text" id="genero" class="form-control form-control-sm">
        <label for="formCadastro">Nacionalidade</label>
      </div>

         <!-- Material input duracao -->
      <div class="md-form form-sm">
        <i class="far fa-clock"></i>
        <input type="text" id="duracao" class="form-control form-control-sm">
        <label for="formCadastro">Duracao</label>
      </div>
  

        <div class="text-center mt-4 mb-2" >
          <button class="btn btn-primary" data-toggle="modal" data-target="#modalMusic">Adicionar Musicas
            <i class="fa fa-send ml-2"></i>
          </button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<%- include ./modal-musica.ejs %>

</div>

<%- include ./partials/rodape.ejs %>
