<%- include ./cabecalho.ejs %>

<body class="container">

    <!-- Material form contact -->
    <div class="card">

        <h5 class="card-header red white-text text-center py-4">
            <strong>Envie sua mensagem</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: black;" action="#!">

                <!-- Name -->
                <div class="md-form mt-3">
                    <input type="text" id="materialContactFormName" class="form-control">
                    <label for="materialContactFormName">Nome</label>
                </div>

                <!-- E-mail -->
                <div class="md-form">
                    <input type="email" id="materialContactFormEmail" class="form-control">
                    <label for="materialContactFormEmail">E-mail</label>
                </div>
                <!--Message-->
                <div class="md-form">
                    <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                    <label for="materialContactFormMessage">Mensagem</label>
                </div>

                <!-- Copy -->
                <!-- <div class="form-check">
             <input type="checkbox" class="form-check-input" id="materialContactFormCopy">
             <label class="form-check-label" for="materialContactFormCopy">Enviar-me uma copia dessa messagem</label>
         </div> -->

                <!-- Send button -->
                <button class="btn btn-info my-4 waves-effect" type="submit">Enviar</button>

            </form>
            <!-- Form -->

        </div>
    </div>
    <%- include ./rodape.ejs %>