<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    
    <title>Músicas</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/views/images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/views/css/terceiros/normalize.css"/>
    <!-- MDB icon -->
    <link rel="icon" href="/views/images/music-album.svg" type="image/x-icon"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/views/css/bootstrap.min.css"/>
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/views/css/mdb.min.css"/>
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/views/css/style.css"/>
    <link rel="stylesheet" href="/views/css/app/app.css"/>
    
</head>

<!--Main Navigation-->
<header>
<base href="/">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark red scrolling-navbar">
        <a class="navbar-brand" href="#"><strong>E-music</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Ínicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro">Cadastro</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contato">Contato</a>
              </li>
            </ul>
            <form class="form-inline">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
              </form>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
              
        </div>
    </nav>

</header>
<!--Main Navigation-->

<body class="container">

    <h1 class="text-center">músicas</h1>

    <div class="row">

        <div class="col-lg-4">
            <div class="card border" style="width: 18rem;">
                <a class="card-link" href="#">
                    <img class="card-img-top" src="/app/views/images/images/music-player.svg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">músicas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border" style="width: 18rem;">
                <a class="card-link" href="#">
                    <img class="card-img-top" src="/app/views/images/music.svg"Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">artistas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border" style="width: 18rem;">
                <a class="card-link" href="album.html">
                    <img class="card-img-top" src="/app/views/images/music-album.svg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">álbuns</h5>
                    </div>
                </a>
            </div>
        </div>

    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  
    Bootstrap tooltips -->
    <script type="text/javascript" src="/app/views/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/app/views/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/app/views//js/mdb.min.js"></script>
    <!-- Your custom scripts (optional) -->
    <!-- <script type="text/javascript"></script>

</body>

</html>