<%- include ./cabecalho.ejs %>
<!--Main Navigation-->

<body class="container">

    <h1 class="text-center">músicas</h1>

    <div class="row">

        <div class="col-lg-4">
            <div class="card border" style="width: 18rem;">
                <a class="card-link" href="/musicas">
                    <img class="card-img-top" src="images/music-player.svg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">músicas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border" style="width: 18rem;">
                <a class="card-link" href="/artistas">
                    <img class="card-img-top" src="/images/music.svg" alt ="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">artistas</h5>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card border" style="width: 18rem;">
                <a class="card-link" href="/albuns">
                    <img class="card-img-top" src="images/music-album.svg" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title">álbuns</h5>
                    </div>
                </a>
            </div>
        </div>

    </div>
  
<%- include ./rodape.ejs %>