<%- include ./layout//cabecalho.ejs %>
<body class="container">

    <h2 class="text-center">Você na maior comunidade de Música da América Latina</h2>

    <form class="text-center border border-light p-5" action="#!">

        <p class="h4 mb-4 ">Login</p>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-3" placeholder="E-mail">
    
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-3" placeholder="Password">
    
        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Lembrar-me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Esqueceu a senha??</a>
            </div>
        </div>
    
        <!-- Sign in button -->
        <button class="btn btn-info my-4" type="submit">Entrar</button>
    
        <!-- Register -->
        <p>Nao é um membro?
            <a href="">Cadastrar</a>
        </p>
    
        <!-- Social login -->
        <p>or sign in with:</p>
    
        <a href="wwww.facebook.com" class="mx-2" role="button"><i class="fab fa-facebook-f light-red-text"></i></a>
        <a href="wwww.twitter.com" class="mx-2" role="button"><i class="fab fa-twitter light-red-text"></i></a>
        <a href="wwww.linkedin.com" class="mx-2" role="button"><i class="fab fa-linkedin-in red-blue-text"></i></a>
   
    
    </form>

<%- include ./layout/rodape.ejs %>
