<%- include ./cabecalho.ejs %>

<body class="container">

    <h2 class="text-center">Músicas</h2>

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Duração</th>
                <th scope="col">Participação</th>
            </tr>
        </thead>
        <tbody class="tbody-light">
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

    <%- include ./rodape.ejs %>